{% block content %}
{% load static %}

<div class="navbar-bg">
<nav class="navbar navbar-expand-lg main-navbar">
  <form class="form-inline mr-auto">
    <div>
      <img class="img-logo" src="{% static 'media/img/logo.png' %}" alt="logo">
    </div>
    <div class="search-element">
      <h1 class="title-h1">PortalExames</h1>
    </div>
  </form>
  <ul class="navbar-nav navbar-right">
    <li class="dropdown dropdown-list-toggle">
      <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
      <div class="dropdown-menu dropdown-list dropdown-menu-right">
        <div class="dropdown-header">Notifications
          <div class="float-right">
            <a href="#">Mark All As Read</a>
          </div>
          <div>


            {% for n in notificacao %}
            {% if n.situacao.situacao == "Recusado" %}
            <a href="#modalrecusado{{ n.id }}" data-toggle="modal" class="a-noti">
              <div class="notification">
                <div class="title-horario">
                  <div class="title-noti">
                    <img src="{% static 'media/img/exclamacao.png' %}" alt="exclamação">
                    <h1 class="recusado">Recusado</h1>
                  </div>
                  <div class="data-noti">
                    <div class="dia-noti">{{ n.criado|date:"d/m/Y" }}</div>
                    <div class="hora-noti">{{ n.criado|date:"H:i" }}</div>
                  </div>
                </div>
                <div class="recado-noti">
                  <p>Seu exame de {{ n.pedido.tipo_exame }} foi recusado pelo estabelecimento</p>
                </div>
              </div>
            </a>

            
            {% elif n.situacao.situacao == "Aprovado"  %}


            <a href="#modalaprovado{{ n.id }}" data-toggle="modal" class="a-noti">
              <div class="notification">
                <div class="title-horario">
                  <div class="title-noti">
                    <img src="{% static 'media/img/confere.png' %}" alt="exclamação">
                    <h1 class="aprovado">Aprovado</h1>
                  </div>
                  <div class="data-noti">
                    <div class="dia-noti">{{ n.criado|date:"d/m/Y" }}</div>
                    <div class="hora-noti">{{ n.criado|date:"H:i" }}</div>
                  </div>
                </div>
                <div class="recado-noti">
                  <p>Seu exame de {{ n.pedido.tipo_exame }} foi aprovado pelo estabelecimento e já está agendado</p>
                </div>
              </div>
            </a>


            {% endif %}
            {% endfor %}

            
          </div>
        </div>
        <div class="dropdown-footer text-center">
          <a href="#">View All <i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </li>

    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
        <img alt="image" src="{{ user.foto_perfil.thumb.url }}" class="rounded-circle mr-1">
        <div class="d-sm-none d-lg-inline-block">{{ user.name }}</div>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-title">Logado: {{ user.last_login }}</div>
        <a href="{% url 'meu' user.pk %}" class="dropdown-item has-icon">
          <i class="far fa-user"></i> Conta
        </a>
        <a href="{% url 'senha_f' %}" class="dropdown-item has-icon">
          <i class="fas fa-cog"></i> Mudar senha
        </a>
        <div class="dropdown-divider"></div>
    
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="dropdown-item has-icon text-danger my-b-logout">
            <i class="fas fa-sign-out-alt"></i> Logout
          </button>
        </form>
          
        
      </div>
    </li>
  </ul>
</nav>
</div>


<nav class="navbar-my navbar-secondary navbar-expand-lg">
  <div class="container container-ul">
    <ul class="navbar-nav space-nav ul-navbar">
      <li class="nav-item active"></li>
        <a href="{% url 'home' %}" class="nav-link"><i class="fas fa-home"></i><span>Home</span></a>
      </li>
      <li class="nav-item active"></li>
        <a href="{% url 'form' %}" class="nav-link"><i class="far fa-envelope"></i><span>Fazer um agendamento</span></a>
      </li>
      <li class="nav-item active">
        <a href="{% url 'anda' %}" class="nav-link"><i class="fas fa-fire"></i><span>Em andamento</span></a>
      </li>
      <li class="nav-item active"></li>
        <a href="{% url 'meu' user.pk %}" class="nav-link"><i class="far fa-user"></i><span>Meus Dados</span></a>
      </li>
    </ul>
  </div>
</nav>


{% for n in notificacao %}
{% if n.situacao.situacao == "Recusado" %}

<!--Modal-->
<div class="modal" tabindex="-1" id="modalrecusado{{ n.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pedido de exame n°{{ n.pedido.id }} - Recusado</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ n.conteudo }}.</p>
        <p><strong>Se ainda desejar fazer um agendamento, preencha outro formulário com as informações corretas</strong></p>
        <p>Outros meios de contato</p>
        <ul>
          <li>Email: upaportalegre@gmail.com</li>
          <li>Telefone: (88) 88888-8888</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="{% url 'form' %}" class="btn btn-primary">Fazer outra requisição</a>
      </div>
    </div>
  </div>
</div>
<!--FimModal-->


{% elif n.situacao.situacao == "Aprovado"  %}

<!--Modal-->
<div class="modal" tabindex="-1" id="modalaprovado{{ n.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pedido de exame n°{{ n.pedido.id }} - Aprovado</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Pedido Confirmado</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="{% url 'anda' %}" class="btn btn-primary">Verificar o pedido</a>
      </div>
    </div>
  </div>
</div>
<!--FimModal-->


{% endif %}
{% endfor %}




{% endblock content %}