{% extends "bases/base_func.html" %}
{% load static %}
{% block content %}
<section class="section mh">
    <div class="section-header header-section">
        <h1>Calendario</h1>
        <div class="section-header-breadcrumb">
          <div class="breadcrumb-item active"><a href="{% url 'menu' %}">home</a></div>
          <div class="breadcrumb-item"><a href="#">calendário</a></div>
          <div class="breadcrumb-item">-</div>
        </div>
    </div>
    <div class="row col-12 col-sm-12 col-lg-7 info-center">
        <div class="col-md-auto">
        <div class="calendar border p-3">
            <h5 class="text-center" id="getMes">Mês</h5>
            <span id="list-datas" style="display: none;">{{ datas }}</span>
            <table class="text-center">
        
            <tbody>
                <tr>
                <td></td><td></td><td><button class="btn btn-lg btn-block btn-day" id="1">1</button></td><td><button class="btn btn-lg btn-block btn-day" id="2">2</button></td><td><button class="btn btn-lg btn-block btn-day" id="3">3</button></td><td><button class="btn btn-lg btn-block btn-day" id="4">4</button></td><td><button class="btn btn-lg btn-block btn-day" id="5">5</button></td>
                </tr>
                <tr>
                <td><button class="btn btn-lg btn-block btn-day" id="6">6</button></td><td><button class="btn btn-lg btn-block btn-day" id="7">7</button></td><td><button class="btn btn-lg btn-block btn-day" id="8">8</button></td><td><button class="btn btn-lg btn-block btn-day" id="9">9</button></td><td><button class="btn btn-lg btn-block btn-day" id="10">10</button></td><td><button class="btn btn-lg btn-block btn-day" id="11">11</button></td><td><button class="btn btn-lg btn-block btn-day" id="12">12</button></td>
                </tr>
                <tr>
                <td><button class="btn btn-lg btn-block btn-day" id="13">13</button></td><td><button class="btn btn-lg btn-block btn-day" id="14">14</button></td><td><button class="btn btn-lg btn-block btn-day" id="15">15</button></td><td><button class="btn btn-lg btn-block btn-day" id="16">16</button></td><td><button class="btn btn-lg btn-block btn-day" id="17">17</button></td><td><button class="btn btn-lg btn-block btn-day" id="18">18</button></td><td><button class="btn btn-lg btn-block btn-day" id="19">19</button></td>
                </tr>
                <tr>
                <td><button class="btn btn-lg btn-block btn-day" id="20">20</button></td><td><button class="btn btn-lg btn-block btn-day" id="21">21</button></td><td><button class="btn btn-lg btn-block btn-day" id="22">22</button></td><td><button class="btn btn-lg btn-block btn-day" id="23">23</button></td><td><button class="btn btn-lg btn-block btn-day" id="24">24</button></td><td><button class="btn btn-lg btn-block btn-day" id="25">25</button></td><td><button class="btn btn-lg btn-block btn-day" id="26">26</button></td>
                </tr>
                <tr>
                <td><button class="btn btn-lg btn-block btn-day" id="27">27</button></td><td><button class="btn btn-lg btn-block btn-day" id="28">28</button></td><td><button class="btn btn-lg btn-block btn-day" id="29">29</button></td><td><button class="btn btn-lg btn-block btn-day" id="30">30</button></td><td><button class="btn btn-lg btn-block btn-day" id="31">31</button></td><td></td><td></td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
        <div class="col-md-4">
        <div class="scheduled-patients">
            <h5>Pacientes Agendados</h5>
            <p>Selecione um mes no filtro abaixo para ver os dias que tem exames.</p>
            <form method="get" action="" class="needs-validation">
              <label for="urgencia">Filtrar por Urgência:</label>
              <select name="urgencia" id="urgencia" class="form-control w-50 d-inline">
                  <option value="">Todos</option>
                  <option value="1" {% if urgencia == '1' %}selected{% endif %}>Urgente</option>
                  <option value="0" {% if urgencia == '0' %}selected{% endif %}>Normal</option>
              </select>
              <button type="submit" class="btn btn-primary">Filtrar</button>
          </form>
          <div class="form-group">
            <label for="mesSelecionado">Selecione o Mês:</label>
            <select id="mesSelecionado" class="form-control">
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
        </div>
        </div>
        </div>
    </div>
    <div class="row w-auto mx-auto p-5">
        <div class="col-12 col-sm-12 col-lg-7 info-center">
          <div class="card">
            <div class="card-header">
              <h4>Tabela dos pacientes agendados</h4>
              <!-- Formulário de Filtro de Urgência -->
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-md" id="tabela">
                  <tr>
                    <th>#</th>
                    <th>Paciente</th>
                    <th>Data do exame</th>
                    <th>Classificação</th>
                    <th>Mais</th>
                    <th>Marcar como concluído</th>
                  </tr>

                  {% for p in pedidos_aprovados %}
                  <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.requerente.name }}</td>
                    <td>{{ p.dia_marcado|date:"d/m/Y" }} às {{ p.dia_marcado|date:"H:i" }}</td>
                    {% if p.urgencia %}
                    <td><div class="badge badge-danger">Urgencia</div></td>
                    {% else %}
                    <td><div class="badge badge-success">Normal</div></td>
                    {% endif %}
                    <td><a href="{% url 'detail_func' p.pk %}" class="btn btn-secondary">Detail</a></td>
                    <td><form action="" method="post">
                      {% csrf_token %}
                      <input type="text" name="pk" id="pk" value="{{ p.pk }}" style="display: none;">
                      <button type="submit" class="btn btn-primary">Concluir</button>
                    </form></td>
                  </tr>
                  
                  {% endfor %}

                </table>
              </div>
            </div>
            {% if is_paginated %}
            <nav aria-label="navegacao-paginacao">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a href="?page{{ page_obj.previous_page_number }}#tabela" class="page-link">&laquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><a href="#" class="page-link">&laquo;</a></li>
                    {% endif %}

                    {% for num in paginator.page_range %}

                        {% if page_obj.number == num %}
                            <li class="page-item active"><a href="#" class="page-link">{{ num }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}#tabela">{{ num }}</a></li>
                        {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}
                    
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}#tabela">&raquo;</a></li>

                    {% else %}

                        <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                    
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
          </div>
        </div>
    </div>
    </div>
</section>

 
<script src="{% static 'assets/js/calendario.js' %}"></script>
{% endblock %}