{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section">
    <div class="section-header my-section-header">
      <h1>Em andamento</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">home</a></div>
        <div class="breadcrumb-item"><a href="#">em andamento</a></div>
        <div class="breadcrumb-item">-</div>
      </div>
    </div>

    <div class="section-body my-section-body">
      <h2 class="section-title">Agendamentos feitos</h2>
      <p class="section-lead">Veja quais pedidos seus foram aceitos e quando seram realizados.</p>

      <div class="row my-col-2">
        
        <div class="my-col-space col-12 col-sm-6 col-lg-4">
          <div class="my-card card my-anda-card">
            <div class="card-header my-card-header">
              <p class="my-h4-anda">Atendimento presencial</p>
              <form action=""><button type="submit" class="btn btn-icon btn-secondary"><i class="fas fa-info-circle"></i></button></form>
            </div>
            <div class="card-body">
              
              <div class="horario-identifi">
                <div class="data-anda">
                  <div class="div1">23</div>
                  <div class="div2">NOV</div>
                  <div class="div3">2023</div>
                </div>

                <div class="hora-id-anda">
                  <div class="hora">
                    <p class="p-light-anda"><strong>Horário:</strong></p>
                    <p>09:30 AM</p>
                  </div>
                  <div class="id">
                    <p class="p-light-anda"><strong>Identificação do exame:</strong></p>
                    <p>73549375</p>
                  </div>
                </div>

              </div>

              <div class="cidade-anda">
                <p class="p-cidade-anda">Portalegre</p>
              </div>

              <div class="descri-situ">
                
                <div class="hora">
                  <p class="p-light-anda"><strong>Descrição:</strong></p>
                  <p>Sanguíneo</p>
                </div>

                <div class="id">
                  <p class="p-light-anda"><strong>Situação:</strong></p>
                  <p>Agendado</p>
                </div>
              

              </div>

              <div class="exc-anda">
                <form action="">
                  <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
              </div>
              
            </div>
          </div>
        </div>

        <div class="my-col-space col-12 col-sm-6 col-lg-4">
          <div class="my-card card my-anda-card">
            <div class="card-header my-card-header">
              <p class="my-h4-anda">Atendimento presencial</p>
              <form action=""><button type="submit" class="btn btn-icon btn-secondary"><i class="fas fa-info-circle"></i></button></form>
            </div>
            <div class="card-body">
              
              <div class="horario-identifi">
                <div class="data-anda">
                  <div class="div1">09</div>
                  <div class="div2">JAN</div>
                  <div class="div3">2023</div>
                </div>

                <div class="hora-id-anda">
                  <div class="hora">
                    <p class="p-light-anda"><strong>Horário:</strong></p>
                    <p>06:09 FM</p>
                  </div>
                  <div class="id">
                    <p class="p-light-anda"><strong>Identificação do exame:</strong></p>
                    <p>12121212</p>
                  </div>
                </div>

              </div>

              <div class="cidade-anda">
                <p class="p-cidade-anda">Portalegre</p>
              </div>

              <div class="descri-situ">
                
                <div class="hora">
                  <p class="p-light-anda"><strong>Descrição:</strong></p>
                  <p>Cocô</p>
                </div>

                <div class="id">
                  <p class="p-light-anda"><strong>Situação:</strong></p>
                  <p>Agendado</p>
                </div>
              

              </div>

              <div class="exc-anda">
                <form action="">
                  <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
              </div>
              
            </div>
          </div>
        </div>

        <div class="my-col-space col-12 col-sm-6 col-lg-4">
          <div class="my-card card my-anda-card">
            <div class="card-header my-card-header">
              <p class="my-h4-anda">Atendimento presencial</p>
              <form action=""><button type="submit" class="btn btn-icon btn-secondary"><i class="fas fa-info-circle"></i></button></form>
            </div>
            <div class="card-body">
              
              <div class="horario-identifi">
                <p class="espera">A definir</p>

              </div>

              <div class="cidade-anda">
                <p class="p-cidade-anda">Portalegre</p>
              </div>

              <div class="descri-situ">
                
                <div class="hora">
                  <p class="p-light-anda"><strong>Descrição:</strong></p>
                  <p>Sanguíneo</p>
                </div>

                <div class="id">
                  <p class="p-light-anda"><strong>Situação:</strong></p>
                  <p>Pendente</p>
                </div>
              

              </div>

              <div class="exc-anda">
                <form action="">
                  <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
              </div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
</section>

{% endblock %}