{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section">
    
    <div class="section-header header-section">
        <h1>Meus dados</h1>
        <div class="section-header-breadcrumb">
          <div class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></div>
          <div class="breadcrumb-item"><a href="#">Meus dados</a></div>
          <div class="breadcrumb-item">-</div>
        </div>
    </div>
    
    <form class="form-meus-dados w-75 m-auto" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="ajustarTamanho container mb-3 mt-3">
          <div class="center_meuDado"><img class="img_meuDado" src="{{ user.foto_perfil.thumb.url }}" alt="{{ user.name }}"></div>
          <div>
            <div class="center_meuDado inputFoto">{{ form.foto_perfil }}</div>
          </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputText1" class="form-label">Nome completo</label>
            {{ form.name }}
        </div>

        <div class="sus-cpf row mb-3">
            <div class="my-col1 col">
                <label for="cpfInput" class="form-label">CPF</label>
                {{ form.cpf }}
            </div>

            <div class="my-col2 col">
                <label for="susInput" class="form-label">Cartão SUS</label>
                {{ form.cartao_sus }}
            </div>
        </div>
        
        <div class="phone-cep row mb-3">
            <div class="my-col1 col">
                <label for="phoneInput" class="form-label">Telefone</label>
                {{ form.fone }}
            </div>

            <div class="my-col2 col">
                <label for="cepInput" class="form-label">CEP</label>
                {{ form.cep }}
            </div>
        </div>

        <div class="mb-3">
            <label for="exampleInputText1" class="form-label">Endereço</label>
            {{ form.endereco }}
        </div>
            
        <div class="date-sex row mb-3">
            <div class="my-col1 col">
                <label for="dateInput" class="form-label">Data nascimento</label>
                {{ form.data_nascimento }}
            </div>

            <div class="my-col2 col">
                <label for="dateInput" class="form-label">Sexo</label>
                {{ form.sexo }}
            </div>
        </div>
    
        <button type="submit" class="my-btn-data btn btn-primary mt-7">Submit</button>
    </form>

     
    <!--Para essa parte utilizar o formulário, Horizontal Form, contido em bootstrap-form.html desabilitando os input para servir apenas como exibição -->
    <div class="section-body">
        <h2 class="section-title">Histórico de exames</h2>
        <p class="section-lead">Veja o histórico de exames concluídos aqui.</p>

        <div class="card-body">
            <div id="accordion">

              {% for p in pedidos %}
              {% if p.situacao.situacao == "Aprovado" or p.situacao.situacao == "Concluído" %}
              <div class="my-accordion accordion">
                <div class="my-accordion-h accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-{{ p.id }}" >
                  <h4 class="my-accordion-h4">ID: {{ p.id }} - {{ p.dia_marcado }}</h4>
                  <i class="fas fa-search"></i>
                </div>
                <div class="accordion-body collapse" id="panel-body-{{ p.id }}" data-parent="#accordion">
                  <!--<p class="mb-0"></p>-->
                  <table>
                    <tr class="mb-0 flex-tr">
                      <td><span class="destaque">Exame</span>: {{ p.tipo_exame }}</td>
                      <td><span class="destaque">Paciente</span>: {{ user.name }}</td>
                      <td><span class="destaque">Situação</span>: {{ p.situacao.situacao }}</td>
                      <td><span class="destaque">Laudo</span>: <a href="{{ p.laudo.url }}">Disponível neste link</a></td>
                    </tr>
                  </table>

                </div>
              </div>

              {% elif p.situacao.situacao == "Recusado"%}
              <div class="my-accordion accordion">
                <div class="my-accordion-h accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-{{ p.id }}" >
                  <h4 class="my-accordion-h4">ID: {{ p.id }} - Sem data</h4>
                  <i class="fas fa-search"></i>
                </div>
                <div class="accordion-body collapse" id="panel-body-{{ p.id }}" data-parent="#accordion">
                  <!--<p class="mb-0"></p>-->
                  <table>
                    <tr class="mb-0 flex-tr">
                      <td><span class="destaque">Exame</span>: {{ p.tipo_exame }}</td>
                      <td><span class="destaque">Paciente</span>: {{ user.name }}</td>
                      <td><span class="destaque">Situação</span>: {{ p.situacao.situacao }}</td>
                      <td><span class="destaque">Laudo</span>: <a href="{{ p.laudo.url }}">Disponível neste link</a></td>
                    </tr>
                  </table>

                </div>
              </div>

              {% endif %}

              {% endfor %}


              <div class="pagination">
                <span class="step-links">
                    {% if pedidos.has_previous %}
                        <a href="?page=1">&laquo; primeira</a>
                        <a href="?page={{ pedidos.previous_page_number }}">&lsaquo; anterior</a>
                    {% endif %}
            
                    <span class="current">
                        Página {{ pedidos.number }} de {{ pedidos.paginator.num_pages }}.
                    </span>
            
                    {% if pedidos.has_next %}
                        <a href="?page={{ pedidos.next_page_number }}">próxima &rsaquo;</a>
                        <a href="?page={{ pedidos.paginator.num_pages }}">última &raquo;</a>
                    {% endif %}
                </span>
            </div>
            

        

              
            </div>
        </div>
    </div>

</section>

{% endblock %}